.header {
  background: linear-gradient(180deg, #EBE7DB, #ffffff);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  height: 120px;
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  margin-top: 20px;
}

.text {
  margin-right: 5px; /* Add spacing between elements */
  color: #13336E;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 50px;
  margin-top: -30px;
}

.logo_container {
  position: relative;
  width: 120px;
  height: 120px;
  margin-left: 50px;
  background: linear-gradient(180deg, #13336E, #1c283f);
  /* background-color: #13336E; */
  margin-top: -40px;
}

.logo_container::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 60px solid transparent; /* Adjust the size of the arrow */
  border-right: 60px solid transparent; /* Adjust the size of the arrow */
  border-top: 30px solid #1c283f; /* Adjust the size of the arrow */
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  margin-top: 10px;
  width: 100px;
  height: auto;
}