/* Reset default browser styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Apply a default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Apply box-sizing to all elements */
* {
  box-sizing: border-box;
}

 /* Display text message */
 .mobile-message {
  display: none;
}
/* Hide tablet message */
.tablet-message {
  display: none;
}

/* Add more global styles as needed */

/* Define styles for mobile view */
@media only screen and (max-width: 600px) {
  /* Hide content */
  .navbar, #header, #content1, #content2, #upcoming, #faculties, #book, #contact, .footer {
    display: none;
  }

  /* Display text message */
  .mobile-message {
    display: block;
  }
  /* Hide tablet message */
  .tablet-message {
    display: none;
  }
}

 /* Display text message */
 .mobile-message {
  display: none;
}
/* Hide tablet message */
.tablet-message {
  display: none;
}

/* Define styles for tablet view */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Hide content */
  .navbar, #header, #content1, #content2, #upcoming, #faculties, #book, #contact, .footer {
    display: none;
  }
  /* Hide mobile message */
  .mobile-message {
    display: none;
  }
  /* Display text message */
  .tablet-message {
    display: block;
  }
}
